header{
    background: var(--background-color);
    padding: 20px 0;
    background-color: var(--background-color);
    position: fixed;
    z-index: 10;
    width: 100vw;
    top: 0;

    .container{
        display: flex;
        align-items: center;
        place-content: space-between;
        margin-top: 0;
        margin-bottom: 0;

        a{
            font-family: 'Source Sans Pro', sans-serif;
            font-size: 2.5rem;
            font-weight: bold;

            &:hover{
                color: var(--text);
                opacity: 0.9;
            }
        }

        .nav-container{
        
            ul{
                display: flex;
                gap: 30px;
                align-items: center;

                li{
                    a{
                        font-size: 0.8rem;
                    }
                }
            }
        }

        .exit, .mobile-menu{
            display: none;
        }
    }
}

@media screen and (max-width: 1024px) {
    header{
        padding: 20px 0;
        .container{
            .nav-container{

                ul.show{
                    transition: var(--transition);
                    display: flex;
                }

                ul{
                    display: none;
                    flex-direction: column;
                    width: 70vw;
                    height: 100vh;
                    padding-top: 55px;
                    gap: 30px;
                    position: fixed;
                    z-index: 9;
                    right: 0;
                    top: 0;
                    background: var(--background-color);
                    transition: var(--transition);

                    li{
                        a{
                            font-size: 1rem;
                        }
                    }

                }
            }

            .exit, .mobile-menu{
                display: block;
                font-size: 1.5rem;
                color: var(--text);
                cursor: pointer;
                transition: var(--transition);

                &:hover{
                    color: var(--accent);
                }
            }

        }
    }
}
